@model string;
@{
	ViewData["Title"] = "Home page";
}

<div>
	<h1>Hello @Model</h1>
	
	<a asp-controller="Workout">Generate workout</a>
	<a asp-controller="Account" asp-action="Registration">Registration</a>
</div>
