@using Microsoft.AspNetCore.Mvc.Localization
@model string;
@inject IViewLocalizer Localizer

<div>
	<div class="promo" id="promo">
		<h1 class="promo__slogan">
			@Localizer["Slogan"]
		</h1>
		<p class="promo__description">
			@Localizer["Message"]
		</p>
		<div class="promo__btn">
			<a href="#">
				@Localizer["StartButton"]
			</a>
		</div>
	</div>

	@* <a asp-controller="Workout">Generate workout</a>
	<a asp-controller="Account" asp-action="Registration">Registration</a> *@
</div>
