@model string;
@{
	ViewData["Title"] = "Home page";
}

<div>
	@* <h1>Hello @Model</h1> *@

	<div class="promo" id="promo">
		<h1 class="promo__slogan">
			Твой карманный тренер
		</h1>
		<p class="promo__description">
			Не думай над программой тренировок - работай на результат.
			Просто расскажи ETrainer, что ты хочешь, а он все сделает за тебя.
			От тебя требуется лишь хороший настрой и немного усилий.
		</p>
		<div class="promo__btn">
			<a href="#">
				Начни прямо сейчас
			</a>
		</div>
	</div>

	@* <a asp-controller="Workout">Generate workout</a>
	<a asp-controller="Account" asp-action="Registration">Registration</a> *@
</div>
