@model ETrainerWeb.Models.ViewModels.LoginViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="login__container">
  <form method="post" class="login__form" asp-controller="Account" asp-action="Login"
  asp-route-returnUrl="@Model?.ReturnUrl">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="login__logname">
      <label asp-for="Login"></label>
      <div class="login__container-element">
        <input asp-for="Login" class="login__input-field default__input-field" />
        <span class="login__warning" asp-validation-for="Login"></span>
      </div>
    </div>
    <div class="login__password">
      <label asp-for="Password"></label>
      <div class="login__container-element">
        <input asp-for="Password" class="login__input-field default__input-field" />
        <span class="login__warning" asp-validation-for="Password"></span>
      </div>
    </div>
    <div class="login__remember">
      <label asp-for="RememberMe"></label>
      <input asp-for="RememberMe" class="login__input-check" />
    </div>
    <input class="login__btn default__btn" type="submit" value="@Localizer["Login"]" />
  </form>
</div>