<div class="header__userinfo-container">
	@if (User.Identity.IsAuthenticated)
	{
		<p class="header__userinfo-name"><a asp-action="Index" asp-controller="Account">@User.Identity.Name</a></p>
		<img class="header__userinfo-photo" src="~/img/account-empty-icon.svg" alt="">
		<a class="header__logout-btn header__btn" asp-action="Logout" asp-controller="Account">Выйти</a>
	}
	else
	{
		<p class="header__registration-btn header__btn"><a asp-action="Registration" asp-controller="Account">Регистрация </a></p>
		<p class="header__login-bnt header__btn"><a asp-action="Login" asp-controller="Account">Войти</a></p>
	}
</div>
