<div class="header__userinfo-container">
	@if (User.Identity.IsAuthenticated)
	{
		<p class="header__userinfo-name"><a asp-action="Index" asp-controller="Account">@User.Identity.Name</a></p>
		<img class="header__userinfo-photo" src="~/img/account-empty-icon.svg" alt="">
		<a class="header__userinfo-name" asp-action="Logout" asp-controller="Account">Logout</a>
	}
	else
	{
		<p class="header__userinfo-name"><a asp-action="Registration" asp-controller="Account">Registration </a></p>
		<p class="header__userinfo-name"><a asp-action="Login" asp-controller="Account">Login</a></p>
	}
</div>